/* Your app custom styles here */
.popoverResultados{
	width: 90vw;
}
.popover-inner {
	max-height: 80vh;
}
.contenedorBuscador{
	width: 95vw;
	
	margin: 0px;
	padding: 0px;
	border: solid 1px;
	border-radius: 4px;
	border-color: #d1d1d1;
	font-size: 20px;
	z-index: 2;
}
#consultarBd{
	z-index: 2;
}
.crearRuta{
	z-index: 2;
};

.hojamarcador{
	opacity: 0.5;
}
.contenedormapa {
	height: 85vh;
	width: 100vw;
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 0px;
	margin: 0px;
	z-index: 0;
};
#buscadorMapa{
	height: 10vh;
	font-size: 40px;
}
.boton {
	text-align: center;
};

#botones {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
};

